:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  background-color: yellow;
}
h2 {
  text-transform: uppercase;
}
h4 {
  text-transform: lowercase;
}
.center {
  text-align: center;
  color: red;
}
p.center {
  color: blue;
  font: size 24px;
}

#chapter {
  font-weight: 900;
  text-transform: uppercase;
}

h2,
#chapter {
  text-transform: uppercase;
}

h1,
h2,
.center {
  text-align: center;
}
h1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.nav-h, .nav-v{
  list-style-type: none;
margin: 0%;
padding: 0%;
overflow: hidden;
background-color: #333;
}

li a { 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-h li {float: left;}
